//========================================================
//                     Variables
//=========================================================

$scheme-1: (
    primary: #00c6ff,
    secondary: #374046,
    secondary1: #EDEDED,
    secondary2: #9e5406,
    default: #fff
);

$scheme-2: (
    primary: #2196F3,
    secondary: #31353d,
    default: #cacaca
);

$scheme-3: (
    primary: #66BB6A,
    secondary: #31353d,
    default: #cacaca
);

$scheme-4: (
    primary: #FFB74D,
    secondary: #31353d,
    default: #cacaca
);

$scheme-5: (
    primary: #78909C,
    secondary: #31353d,
    default: #cacaca
);

$schemes: ($scheme-1, $scheme-2, $scheme-3, $scheme-4, $scheme-5);

$default-font: 'Open Sans', sans-serif;
$primary-font:'Arial', sans-serif;