//========================================================
//                     Variables
//=========================================================

//Backgrounds
$header-bg: #fff;
$content-bg: #fff;
$footer-bg: #333;

//Colors
$default: #555555;
$primary: #222222;
$secondary: #f4574c;
$secondary2: #aaaaaa;
$secondary3: #888888;

//Fonts
$default-font: 'Open Sans', sans-serif;